.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.autocomplete-input {
  width: 120%;
  height: 17px;
  background: #e4f3f7;
  border-radius: 20px;
  border: 2px outset lightgray;
}

.autocomplete-item {
  background: rgb(247, 247, 247);
  border-radius: 10px;
  padding-left: 10px;

}

.autocomplete-item.highlighted {
  background: #ede9e9;
}
.autocomplete-link{
  color: inherit;
  text-decoration: none;
}

