.App {
  text-align: justify;
  background-color: whitesmoke;
  .nav-link {
    text-decoration: none; 
  }
}.App.dark {
  /* Styles for dark mode */
  background-color: #000;
  color: #70706c;
}

.App.light {
  /* Styles for light mode */
  background-color: #fff;
  color: #000;
}
.toggle-button {
  display: inline-block;
  /* padding: 6px 8px; */
  border: none;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button.dark {
  background-color: #333;
  color: #fff;
}

.toggle-button.light {
  background-color: #f2f2f2;
  color: #333;
}

.toggle-button:hover {
  background-color: #777;
  color: #fff;
}
.lang{
  width: 120%;
  height: 20px;
  float: right;
  background-color: #e3b8b0;
  display: inline-block;
}
.about{
  background-color: white;

}
.Location{
  background-color: aquamarine;
  }
  .Location div{
    width :60%;
    height: 70%;
    float: right;
  }
.h2headingtag{
color:rgb(14, 76, 14);
background-color: rgb(215, 231, 247);
text-align: center;
}

 .btnnext{
  background-color: rgb(201, 227, 10);
  border-color: crimson;
  padding: 8px;
  width: 100px;
 }
 .btnback{
  float:right;
  background-color: rgb(43, 227, 10);
  border-color: crimson;
  padding: 8px;
  width: 100px;
 }
.artical{
   float: left; 
   padding: 20px; 
  width:1250px;  
  background-color: rgb(222, 234, 245);
}
.artical2{
  float: left; 
   padding: 20px; 
  width:30%; 
  background-color: rgb(240, 240, 227);
}
.articaldiv{
  float: left; 
  padding: 20px; 
 width:400px;  
 background-color: rgb(168, 51, 141);
}
/* ------------------------------Footer--------------------------- */
.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 40PX;
background-color: rgb(191, 89, 89);
color: white;
text-align: center;
display:flex;
justify-content: space-around;
flex-wrap: wrap;

}

.main{
  display:flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 40px;
  background-color: rgb(227, 236, 200);

}
.aarti{
  float: left; 
  padding: 20px; 
  text-align: center;
  width:30%; 
  background-color: rgb(240, 172, 157);
  color: rgb(5, 6, 4);

}
.aarti div{
  background-color: rgb(234, 234, 176);
  background: linear-gradient(#edcccc 0%, #d6f1d6 50%, #ebcdcd 100%);
  padding: 10px ;
}
.mainTemplet{
  float: left; 
   padding: 20px;
   padding-bottom: 60px;
   width:55%; 
  /* background-color: rgb(241, 238, 234); */
}

/* -------------------------------- */
.page{
  height: 70vh;
  display: flex;
}
/* ----------------------------------Aarti left side  */
.aaratileft{
  background-color: rgb(227, 226, 223);
  height: 100%;
  float: left;
  width:20%;
  text-align: center;
  justify-content: center;
}
.aaratileft .nav-link {
  text-decoration: none;
  perspective: 400px;
  transition: transform 0.5s;
}
.aaratileft .nav-link:hover {
  transform: rotateY(20deg);
}
.aaratileft .nav-link h4 {
  font-size: 18px;
  color: #66c026;
  transition: transform 0.5s;
  transition: color 0.3s ease;
}

.aaratileft .nav-link:hover h4 {
  transform: rotateY(-20deg);
  color: rgb(227, 18, 18);
}

/* ---------------------------------------------------------photos--------------------------------------------------------- */
.photos{

background-color: rgb(237, 221, 190);
padding :10px ;
float: left;
width: 45.9%;
text-align: center;
padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-item {
  margin: 10px;
  perspective: 800px;
  cursor: pointer;
  transition: transform 0.5s;
}

.photo-item:hover {
  transform: rotateY(10deg);
  
  
}

.photo-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
  transition: transform 0.5s;
 
}

.photo-item:hover img {
  transform: rotateY(-20deg);

}

/* --------------------------------Location */

.teamjava{
  background-color: rgb(247, 236, 236);
  height: 500px;
  
  float: left;
  width: 10%;
  text-align: center;
  justify-content: center;
}
.teamjava .nav-link {
 
  perspective: 400px;
  transition: transform 0.5s;
}
.teamjava .nav-link:hover {
  transform: rotateY(20deg);
}
.teamjava .nav-link h4 {
  font-size: 18px;
  
 color: red;
  transition: transform 0.5s;
  
  transition: color 0.3s ease;
}

.teamjava .nav-link:hover h4 {
  transform: rotateY(-20deg);
  color: #4ec16f;
}
/* ---------------------------------Header----------------- */

.header{
  text-align: center;
  background-color: rgb(217, 198, 174);
  padding: 0.5px;
  color: rgb(209, 43, 43);
  color: rgb(224, 77, 156);
  justify-content: center;
    border: 1px solid; 
  }
  .marquee {
    display: flex;
    justify-content: center;
    overflow: hidden;
      animation: marquee 20s linear infinite;
  }
   .marquee div {
    text-align: center;
    font-size: verdana;
    display: inline-block;
    justify-content: center;
    animation: animates 20s linear infinite;
    
  }
  @keyframes animates{
    100%{
      transform: translate(80%,0);
    }
  } 
/* --------------------------- */
  .p{
     background-color: rgb(179, 98, 51);
     padding: 30px;
     width: 95%;
     overflow-x: hidden;
    }
   
    .d {
      perspective: 1000px;
      cursor: pointer;
      transition: transform 0.5s;
      display: flex;
      width: 300%;
      padding: 30px;
      animation: marquee 200s linear infinite;
    flex-grow: 1;
    }
    
    .p-item:hover {
      transform: rotateY(10deg);
    }
    
    .p-item img {
      width: 300px;
      position: relative;
      justify-content: center;
      height: 300px;
      border-radius: 40px;
      transition: transform 0.5s;
      text-align: center;
    animation: animate 30s linear infinite;
    }
    
    .p-item:hover img {
      transform: rotateY(-30deg);
    }
    @keyframes animate{
      100%{
        transform: translate(-900%,0);
      }
    } 
    /* =------------------------------------Styles for Ashtavinayak------------------------------------------ */
    /* Styles for Ashtavinayak */
  .don{
   
    padding-top: 20px;
padding-bottom: 20px;
  }
.ast {
  
  float: left;
  width: 320px;
  height: 410px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.9rem;
  padding-bottom: 30px;
  margin: 20px;
 
}
.data{
  border: 1px solid;
  background-color: #edb889;
  height: 400px;
  width: 319px;
  padding-bottom: 10px;
 
}
.data div{
  background-color: #ecf6e3;
}
.dick:hover{
  background-color: #7fdd7f;
    transform: rotateY(20deg);
}
.dick img{
  height: 280px;
  width: 320px;
}
/* ----------------------------------------**---Ashatavinayak css---------------------- */
.Temple{
  /* text-align: center; */
  padding-left: 23.50%;
padding-right: 25%;
padding-bottom: 20%;
padding-top: 2%;

}

.Templeimg{
  padding-left: 23.50%;
padding-right: 25%;
 text-align: center;
 padding-top: 2%;
 background-color:rgb(250, 246, 246);
 
}
.tempimg{
  /* height: 30%;
  width: 30%; */
}
.Templeimg img{
  
  height: 80%;
  width: 80%;
  border-radius: 20px;
 
}
.astvinayaklink{
  background-color:white;
   height: 1280px;
  padding-left: 15px;
  padding-right:15px;
  margin: auto;
  float: left;
  width: 21%;
  /* text-align: center; */

  justify-content: center;
}
.astvinayaklink .nav-link {
  text-decoration: none;
  perspective: 400px;
  transition: transform 0.5s;
}
.astvinayaklink .nav-link:hover {
  transform: rotateY(20deg);
}
.astvinayaklink .nav-link h4 {
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  background-color: rgb(238, 226, 203);
  
 color: rgb(43, 41, 41);
  transition: transform 0.5s;
  
  transition: color 0.3s ease;
}

.astvinayaklink .nav-link:hover h4 {
  transform: rotateY(-20deg);
  color: #4ec16f;
}
/* --------------------------Ashtavinay location s */
.ifrm{
 
  background-color:rgb(253, 253, 253);
  float: right;
  width: 15%;
  length:900px;
  padding-right: 100px;
  height: 1280px;
   
}
.ifrm iframe {
 
 padding-top: 100%;
 width:130% ;
}
.locdetils {
  background-color: rgb(242, 248, 247);
  width:130% ;
}
.Aartiheader{
  color:rgb(208, 34, 48);
background-color: white;

text-align: center;
}
.Aartiheader img{
  width: 4vh;
}
.leftbell{
 margin-left: 10px;
}
/* ---------------------search butoon
.nav-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;

}

.search-input {
  
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.search-button {

  background-color: #93e695;
  color: rgb(248, 243, 243);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  
  text-align: left;
  margin-right: 50px;
  background-color: rgb(236, 245, 243);

}

.nav-item {
  margin-bottom: 5px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #4caf50;
}

