.forgotpass{
height: 100vh;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:
     /* linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(99, 33, 33, 0.3)
      ), */
    url('https://wallpaperaccess.com/full/3492867.gif');
    background-size: cover;
    background-position: center;
   
  }
  .btnsignup{
  
    padding: 10px;
    border: none;
    background-color: rgb(144, 202, 113);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  
 



